requests
beautifulsoup4
pandas
google-generative-ai @ git+https://github.com/googleapis/python-generative-ai.git@main
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
